# Backend
MQTT_BROKER_HOST="mqtt.hsl.fi"
MQTT_BROKER_PORT=8883
MQTT_BROKER_TOPIC ="/hfp/v2/journey/ongoing/vp/bus/+/+/+/+/#"

OSM_ROAD_GRAPH_LOCATION="Helsinki, Finland"
OSM_CACHE_PATH="./.osm_cache"
BACKEND_API_HOST=localhost
BACKEND_API_PORT=8000

# Kafka
KAFKA_CLUSTER_ID=lSv47to7StGe-grRUKOwHg

# Spark
SPARK_WORKER_DIR=/opt/spark/work
RESET_CHECKPOINTS=true

# Postgres
POSTGRES_DB=testdb
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Prometheus
PROMETHEUS_INGESTION_PORT=8001

# Frontend
FRONTEND_PORT=5173
FRONTEND_HOST=localhost
