@import "tailwindcss";

@theme {
  --color-base: #0f172a; /* slate-900 */
  --color-card: #1d293d; /* slate-800 */
  --color-card-border-base: #314158; /* slate-700 */
  --color-disabled-text: #314158; /* slate-700 */
  --color-text-base: #fff;
  --color-button-blue: #155dfc; /* blue-600 */

  --text-xxs: 0.625rem; /* 10px */
}

@layer base {
  button:enabled {
    @apply cursor-pointer;
  }
}

.leaflet-popup-content-wrapper {
  background: #0f172a !important; /* slate-900 */
  color: white !important;
  border: 1px solid #1f2937; /* slate-800 */
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.leaflet-popup-tip {
  background: #0f172a !important;
}
